@model UsingWebApi.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" readonly="readonly" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressFrom" class="control-label"></label>
                <input asp-for="AddressFrom" class="form-control" />
                <span asp-validation-for="AddressFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressTo" class="control-label"></label>
                <input asp-for="AddressTo" class="form-control" />
                <span asp-validation-for="AddressTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceTypes" class="control-label"></label>
                <input asp-for="ServiceTypes" class="form-control" />
                <span asp-validation-for="ServiceTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TxtField" class="control-label"></label>
                <input asp-for="TxtField" class="form-control" />
                <span asp-validation-for="TxtField" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to OrdersList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
